:root { 
--black_900_7f:#000e207f; 
--black_900_3d:#0000003d; 
--deep_orange_A100:#ffb573; 
--black_900_7a:#0000007a; 
--black_900_7c:#0000007c; 
--black_900_b5:#000000b5; 
--green_700:#29a315; 
--black_900_42:#00000042; 
--green_700_01:#2aa316; 
--black_900_7f_01:#0000007f; 
--gray_200_01:#ebebeb; 
--blue_gray_900_01:#263238; 
--gray_200_02:#e7e8ea; 
--blue_gray_900:#283646; 
--blue_600_21:#299fd821; 
--gray_600:#717171; 
--black_900_c1:#000000c1; 
--blue_gray_100:#cfd8dc; 
--blue_600_16:#299fd816; 
--red_A200:#ff5652; 
--white_A700_c9:#ffffffc9; 
--gray_200:#f0f0f0; 
--black_900_ed:#000000ed; 
--black_900_aa:#000000aa; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_16:#00000016; 
--black_900_59:#00000059; 
--red_700:#d83e29; 
--black_900_d6:#000000d6; 
--gray_50:#fafafa; 
--black_900_1e:#0000001e; 
--green_400:#62e54d; 
--black_900_21:#00000021; 
--black_900_bc:#000000bc; 
--black_900_23:#00000023; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_600_2d:#299fd82d; 
--blue_gray_800:#2c3c4d; 
--black_900_28:#00000028; 
--green_400_01:#63e54d; 
--deep_orange_A400:#f82f05; 
--black_900_26:#00000026; 
--black_900_a0:#000000a0; 
--gray_500:#8c959f; 
--gray_600_01:#808080; 
--black_900_e5:#000000e5; 
--blue_gray_400:#77838f; 
--red_A100:#ff8b7b; 
--amber_600:#f9b201; 
--blue_600:#299fd8; 
--black_900_6b:#0000006b; 
--gray_900:#272525; 
--black_900_a8:#000000a8; 
--blue_600_2b:#299fd82b; 
--gray_300:#e0e0e0; 
--black_900_2d:#0000002d; 
--gray_300_01:#e6e6e6; 
--gray_100:#f5f5f5; 
--blue_600_1e:#299fd81e; 
--black_900_30:#00000030; 
--blue_600_30:#299fd830; 
--black_900_ce:#000000ce; 
--black_900_38:#00000038; 
}